
# Dependencies
node_modules/
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Logs
system-a/logging/raw/*.csv
*.log
logging/heath_reports
logging/smoke_tests


logging/health_reports
logging/smoke_reports
system-a/logging/health_reports
system-a/logging/smoke_reports

# Optional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
